#CPU{
    list-style: none;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group{
    display: flex;
    justify-content: center;
    align-items: center;

}

#CPU{
    display: grid;
    justify-content: center;

}